#btn {
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#head {
    border-bottom: solid grey 2px;
    padding-bottom: 5px;
}

#navigation {
    text-align: center;
}

#selected {
    text-decoration: underline;
}

#logo {
    width: 50%;
    display: inline-block;
    margin: auto;
}

#error {
    color: red;
}

.relicGrid {
    display: inline-grid;
    height: 300px;
    width: 500px;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-rows: repeat(7, 1fr);
    border: 1px solid rgb(211, 211, 211);
    border: 1px solid rgba(211, 211, 211, 0.4);
}

.planetGrid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
.notVaulted{
    padding: 5px;
    margin: 6px;
    display: inline-block;    
}

.notVaulted > p {
    display: none;
}

.vaulted {
    padding: 5px;
    border: 1px solid red;
    display: inline-block;
    margin: 5px;
}

.vaulted > p {
    color: red;
    margin-top: -15px;
    margin-bottom: -1px;
    margin-left: 220px;
    text-align: center;
    background-color: white;
    width: 60px;
}

.relicImg {
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    height: 300px;
    margin-left: -110px;
    
}

.relicName {
    grid-column: 1/ span 3;
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
}

.odd {
    background-color: rgba(211, 211, 211, 0.4);
}

.pic img {
    height: 40px;
    margin: auto;
}

.item {
    font-size: 1.2em;
    font-weight: normal;
    padding-top: 10px;
}

.percent {
    font-size: 1.2em;
    font-weight: normal;
    padding-top: 10px;
}

.nodeMission {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
}

.rotationTable {
    margin-left: 15px;    
}

.relicRow {
    margin-left: 15px;
}

.primeName {
    text-align: center;
}

.blueprint {
    background-color: LightSteelBlue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.partsVaulted {
    color: red;
}

p {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

span {
    margin-right: 8px;
}